@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    /*
    border: 1px solid black;
    */
    font-family: 'Roboto', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    display:flex;
    flex-direction: column;
    align-items: space-between;
}

.header-nav,
.hero,
.content,
.sale-section {
    margin-left: 180px;
    margin-right: 180px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 1em;
    list-style-type: none;
}

.header-links li a {
    text-decoration: none;
}

.hero {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-info,
#hero-image {
    flex: 1;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom:-10px;
}

#hero-subtitle,
#hero-signup-button {
    margin-top: 10px;
}

.header-links li a,
#hero-subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 0.4em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 5px;
    border: 0px solid white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.content-image {
    border: #3882F6;
    border-radius: 8px;
}

.content-section-desc {
    text-align: center;
    color: #1F2937;
}


.quote-section {
    background-color: #E5E7EB;
    padding: 1em 15em;
}

#quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

#quote-author {
    text-align: right;
}

#quote-text,
#quote-author {
    color: #1F2937;
}

.sale-section {
    background-color: #3882F6;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 2em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 7px;
}

.sale-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;
}

.sale-text-title {
    font-weight: bold;
}

#sale-signup-button {
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color:#E5E7EB;
}